.container {
    padding: 20px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
  
  @media only screen and (max-width: 800px) {
    .grid-container {
      display: grid;
      grid-template-columns: auto;
    }
  }
  
  .button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;
  }
  
  .button-category {
    background-color: white;
    color: black;
    border: 2px solid black;
    text-transform: capitalize;
  }
  
  .button-category:hover {
    background-color: #00454e;
    color: #fbb72c;
  }
  
  .button-selected {
    background-color: #00454e;
    color: #fbb72c;
  }


.product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #00454e;
  }
  
  .badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
  }
  
  .product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #fff;
  }
  
  .product-tumb img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .product-details {
    padding: 30px;
  }
  
  .product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 18px;
  }
  
  .product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #c7f291;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .product-details h4 a:hover {
    color: #fff;
  }
  
  .product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #ccc;
  }
  
  .product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
  }
  
  .product-bottom-details div {
    float: left;
    width: 50%;
  }
  
  .product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
  }
  
  .product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
  }
  
  .product-links {
    text-align: right;
  }
  
  .product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
  }
  
  .product-links a:hover {
    color: #fbb72c;
  }
  
  .limit-description {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 1px solid #000000; */
  }